* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 550px;
    background: #f5f5f5;
    color: #4d4d4d;
    font-weight: 300;
}

h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
}

main {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#input {
    display: flex;
    background: white;
}

#input input::placeholder{
    font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#mark-all-complete {
    display: none;
}

#mark-all-complete + label {
    flex: 1;
    align-self: center;
    visibility: hidden;
}

#input:hover {
    cursor: text;
}

#new-item {
    flex: 11;
    border: 0;
    width: 100%;
    font-size: 24px;
    padding: 16px 16px 16px 16px;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;   
}

#new-item:focus {
    outline: none;
}

button {
    border: none;
    background: inherit;
}

#note-template {
    display: flex;
    background: white;
    align-items: center;
    margin-top: 0;
    border-bottom: 1px solid #ededed;
}

#notes {
    margin: 0;
    list-style: none;
    padding: 0;
    border-top: 1px solid #e6e6e6;
}

#mark-complete {
    flex: 1;
    justify-self: flex-start;
    transform: scale(1.5);
}

#delete {
    flex: 1;
    justify-self: flex-end;
    visibility: hidden;
}

#note-template:hover #delete {
    visibility: visible;
}

#note-text + label{
    flex: 10;
    font-size: 24px;
    border: none;
    padding: 16px 16px 16px 16px;
    text-align: left;
    margin: 0;
    word-break: break-all;
}

.note-unfocused {
    flex: 10;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 16px 16px 16px 16px;
    text-align: left;
    margin: 0;
    word-break: break-all;
    color: #4d4d4d;
    font-weight: 300;
}

.note-focused {
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
}

#note-text::placeholder {
    color: #4d4d4d;
    font-weight: 300;
}


#dashboard {
    display: flex;
    background: white;
    justify-content: space-between;
    padding: 13px 15px;
    color: #777;
    display: none;
    /* Paper stack effect */
    box-shadow:    
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#items-left-counter:hover {
    cursor: default;
}

#all, #active, #completed, #clear {
    display: none;
}

#clear + label {
    visibility: hidden;
}

#filter-buttons li{
    display: inline-block;
}

#filter-buttons label {
    padding: 3px 7px;
    margin: 3px;
}

#filter-buttons input:checked + label {
    border: 1px solid rgba(175, 47, 47, 0.2);
    border-radius: 3px;
}

#filter-buttons input:hover + label {
    cursor: pointer;
}

#clear:hover + label{
    cursor: pointer;
    text-decoration: underline;
}

footer {
    color: #bfbfbf;
    font-size: 10px;
    margin-top: 65px;
}
footer p {
    padding: 5px;
}

footer a{
    color: #bfbfbf;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    #dashboard {
        flex-direction: column;
        font-size: 20px;
    }

    #dashboard > * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}